body, html {
    height: 100%;
    font-size: 18px;
    background-color: grey;
    font-family: 'Arimo', sans-serif;
  }

  #parallax1 {
    /* The image used */
    background-image: url("./images/backgrounds/parallax1.jpg");

    /* Full height */
    height: 1600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #parallax2 {
    /* The image used */
    background-image: url("./images/backgrounds/parallax2.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #parallax3 {
    /* The image used */
    background-image: url("./images/backgrounds/parallax3.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #parallax4 {
    /* The image used */
    /* background-color: grey; */
    background-image: url("./images/backgrounds/parallax4.jpg");
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-holder {
    display: flex;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #down-container {
    display: flex;
    width: 100%;
  }

  #down-arrow {
    color: white;
    height: 300px;
    width: 300px;
  }

  /* NAVBAR */

  .bar {
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    overflow: hidden;
    background-color: lightgray;
  }

  .bar li {
    float: left;
    text-decoration: none;
    list-style-type: none;

  }

  .bar li a {
    display: block;
    font-size: 36px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
    /* background-color: lightgray; */
    color: white;
  }

  .bar li a:hover{
    /* background-color: lightslategray; */
    color: #34373d;
    text-decoration: none;
  }

.project-badges {
  height: 30px;
  margin: 5px;
}

.project-cards {
  margin: 10px;
  border: none;
}

.project-cards h2 {
  font-size: 24px;
  font-family: 'Arimo', sans-serif;
  text-transform: uppercase;
  color: white;
}

.project-cards h4 {
  font-family: 'Arimo', sans-serif;
  text-transform: uppercase;
}

.panel-heading {
  background-color: #34373d;
}

.panel-footer {
  background-color: white;
  color: #34373d;
}

.panel-body {
  background-color: gray;
  color: white;
}

#projects-holder {
  flex-direction: column;
}