body, html {
    height: 100%;
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
    background-color: black;
  }

  h2, h3, h4, h5 {
    color: white;
  }

  #parallax1 {
    /* The image used */
    background-image: url("./images/backgrounds/parallax1.jpg");

    /* Full height */
    height: 1200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
  }

  #parallax2 {
    /* The image used */
    background-color: #187f91;

    /* Full height */
    height: 1200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #parallax3 {
    /* The image used */
    background-image: url("./images/backgrounds/parallax3.jpg");

    /* Full height */
    height: 1200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

 #parallax4 {
    /* The image used */
    background-color: whitesmoke;
    /* background-image: url("./images/backgrounds/parallax4.jpg"); */
    /* Full height */
    height: 325px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #parallax5 {
    /* The image used */

    /* background-image: url("./images/backgrounds/parallax4.jpg"); */
    /* Full height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #parallax6 {
    /* The image used */
    background-color: #f77402;
    /* background-image: url("./images/backgrounds/parallax4.jpg"); */
    /* Full height */
    height: 1200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #parallax7 {
    /* The image used */
    /* background-color: #f77402; */
    background-image: url("./images/backgrounds/parallax7.jpg");
    /* Full height */
    height: 6500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-holder {
    display: flex;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* NAVBAR */

  .bar {
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
    overflow: hidden;
    background-color: darkgray;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  }

  .bar li {
    float: left;
    text-decoration: none;
    list-style-type: none;

  }

  .bar li a {
    display: block;
    font-size: 36px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Arimo', sans-serif;
    /* background-color: lightgray; */
    color: white;
  }

  .bar li a:hover{
    /* background-color: lightslategray; */
    color: #34373d;
    text-decoration: none;
  }

#project-holder {
  height: 70%;
}

.project-badges {
  height: 30px;
  margin: 5px;
}

.project-cards {
  margin: 10px;
  border: none;
  width: 80%;
}

.project-cards .panel-body {
  height: 760px;
}

.project-cards h2 {
  font-size: 24px;
  font-family: 'Arimo', sans-serif;
  text-transform: uppercase;
  color: white;
}

.project-cards h4 {
  font-family: 'Arimo', sans-serif;
  text-transform: uppercase;
  color: #34373d;
}

.panel-heading {
  background-color: #34373d;
  height: 3%;

}

.panel-footer {
  background-color: white;
  color: #34373d;
  height: 3%;
}

.panel-body {
  background-color: #f2f2f2;
  color: #34373d;
  height: 90%;
}

.project-image {
  max-height: 500px;
  margin: 20px;
}

.code-btn {
  background-color: #34373d;
  color: white;
}

.site-btn {
  background-color: #007A9F;
  color: white;
}

.project-card-descrip {
  margin-bottom: 15px;
}

.main-h2 {
  padding-top: 80px;
  color: white;
  font-size: 64px;
  margin-top: 0;
}

.project-button-group a {
  margin: 5px 20px;
}

p {
  font-size: 20px;
}

#projects-holder {
  margin: 30px;
}

.bio-text {
  float: none;
  margin: 0 auto;
}

.bio-text p{
  width: 95%;
  font-size: 25px;
  padding: 30px 20px 5px 20px;
  color: white;
}

.bio-pic {
  height: 400px;
  margin: 30px;
  border:10px solid white;
  transform: rotate(270deg);
}

#homepage-container {
margin-top: 0;
}

.homepage-logo {
  max-width: 350px;
  margin-top: 15%;
}

.homepage-nameplate {
max-height: 200px;
}

.nav-nameplate {
  height: 36px;
  margin-top: 12px;
  margin-right: 10%;
}

hr {
  width: 20%;
}

.consult-column {
background-color: #fffb7f;
height: 100%;
}

.photo-column {
background-color: black;
height: 100%;
}

.consult-logo {
height: 400px;
margin-top: 5%;
}

.photo-logo {
  height: 400px;
  margin-top: 5%;
}

.experience-logo-container {
  height: 100%;
  border: none;
}

.experience-logos {
  max-height: 35px;
  max-width: 100px;
  margin: 10px;

}

.panel-title{
  font-size: 24px;
  font-family: 'Arimo', sans-serif;
  color: white;
  text-transform: uppercase;
}

#experience-holder {
  margin-bottom: 3%;
}
#experience-holder .panel{
  background-color: transparent;
}

#experience-holder li{
  text-align: left;
}

.blog-card {
  background-color: transparent;
  border-radius: 50px;
}

.blog-card h4 {
  color: white;
}

footer {
  height: 100px;
}
.page-footer {
  background-color: #007A9F;
}

.footer-copyright {
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.badges {
  height: 80px;
  margin: 0 10px;
}

#badge-holder {
  margin: 20px;
}

.tech-heading {
  color: #34373d
}

.job-card {
  height: 375px;
  background-color: transparent;
  margin-top: 30px;

}

.job-card .panel-heading {
  height: 70px;
}

.job-card .panel-heading h3 {
  color: white;
  vertical-align: middle;
}

.job-card h3, h4 {
  color: #34373d;
}

.job-card li {
  text-align: left;
}