body,html {
  color: white;
  height: 100%;

}

.container {
  width: 85%;
}

.height1 {
  height: 25%;
}

h2 {
  font-size: 36px;
  font-family: 'Arimo', sans-serif;
  text-transform: uppercase;
  color: white;
  padding-top:40px;
  padding-bottom: 20px;
  margin-top: 0px;
}
.panel {
  background-color: transparent;
}

.panel-heading {
  background-color: #34373d;
  height: 3%;
}

.panel-title {
  font-size: 15px;
  text-transform: uppercase;
}

.panel-footer {
  background-color: white;
  color: #34373d;
  height: 3%;
}

.panel-body {
  background-color: #f2f2f2;
  color: #34373d;
  height: 90%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAVBAR */

.navbar {
  background-color: darkgray;
}

.nav-nameplate {
  height: 36px;
  margin-top: 7px;
  margin-left: 10px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}


/* PARALLAX */

#parallax1 {
  background-image: url("./images/backgrounds/parallax1.jpg");
  height: 125%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
}

#parallax2 {
  background-color: #187f91;
}

#parallax3 {
  background-image: url("./images/backgrounds/parallax5.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax4 {
  background-color: whitesmoke;
}

#parallax5 {
  background-image: url("./images/backgrounds/parallax3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax6 {
  background-color: #f77402;
}

#parallax7 {
  background-image: url("./images/backgrounds/parallax7.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}



/* HOMEPAGE */
.homepage-container {
  height: 40%;
}

.homepage-logo {
  width: 25%;
}

.homepage-nameplate {
  width: 80%;
}

/* BIO PAGE */

.bio-pic {
  height: 400px;
  border:10px solid white;
}

.bio-text {
  padding: 40px;
}

hr {
  width: 20%;
}

/* EXPERIENCE */

.photo-logo {
  width: 80%;
}

.consult-logo {
  width: 40%;
}

.badges {
 height: 30px;
}

.badge-container {
  display: flex;
  flex-flow: row-wrap;
  justify-content: center;
}

.badge-space {
  margin: 20px 10px;
}

.experience-logos {
  max-height: 35px;
  max-width: 100px;
  margin: 5px;
}

.job-card {
  background-color: transparent;
  margin: 0px;
  margin-bottom: 10px;
}

#jobs-holder {
  margin: 50px;
}
.job-card .panel-heading {
  height: 70px;
}

.job-card .panel-heading h3 {
  color: white;
  margin-top: 5%;
  margin-bottom: 10%;
}

.job-card h3, h4 {
  color: #34373d;
}

.job-card li {
  text-align: left;
}

.job-row {
  height: 360px;
}

.job-space {
  padding-bottom: 20px;
}

.tech-heading {
  color: #34373d;
}

/* CURRENT PROJECTS */

#projects-holder {
  margin: 20px;
}

.project-footer {
  height: 150px;
}

.project-image {
  height: 250px;
}

.project-space {
  padding-bottom: 10px;
}

.code-btn {
  background-color: #34373d;
  color: white;
}

.site-btn {
  background-color: #007A9F;
  color: white;
}

.project-badge-holder {
  display: flex;
  flex-flow: row-wrap;
  justify-content: center;
}

.project-badges {
  height: 25px;
  margin: 5px;
}

.project-button-group a {
  margin: 10px 20px;
}

.project-cards {
  margin: 0px;
  margin-bottom: 10px;
}

.project-body {
  min-height: 450px;
}

.project-title {
  font-size: 18px;
  padding-top: 7%;
  padding-bottom: 15%;


}

.project-heading {
  height: 75px;
}

/* PERSONAL BRAND */

.consult-column {
  background-color: #fffb7f;
  margin: 20px;
  }

  .photo-column {
  background-color: black;
    margin: 20px;
  }

  .consult-logo {
  max-height: 230px;
  max-width: 375px;
  margin-top: 5%;
  margin-bottom: 5%;
  }

  .photo-logo {
   max-height: 250px;
   max-width: 375px;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  /* FOOTER */

  footer {
    background-color: #007A9F;
    height: 100px;
    margin-bottom: 0;
  }

  .footer-logo {
    height: 75px;
  }

  /* BLOGS */

  .blog-date {
    color: white;
  }

  .blog-heading {
    padding-top: 100px;
  }

/* PARALLAX RESIZING */

@media only screen and (max-device-width: 780px) {

#parallax1 {
  background-image: url("./images/backgrounds/parallax1.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
}

#parallax3 {
  background-image: url("./images/backgrounds/parallax5.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

#parallax5 {
  background-image: url("./images/backgrounds/parallax3.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax7 {
  background-image: url("./images/backgrounds/parallax7.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
  }
}
